body {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 125%;
  color: white;
  background-color: inherit;
}
.articleName {
  font-size: 135%;
  padding: 5px;
  color: #FFFF00;
}
.dark {
  background-color: #36459a;
}
.light {
  background-color:#3f51b5;
}
.text {
  padding: 5px;
}
.price {
  color: #00FF00;
  font-size: 127%;
}
.bottom {
  padding-bottom: 80px;
}
.topbottom {
  padding-top: 80px;
  padding-bottom: 80px;
}
.yellow {
  color: #FFFF00;
}
.button {
  width: 90%;
  background-color: #3f51b5;
  border: 3px solid white;
  color: white;
  cursor: pointer;
  margin: 3px;
}
@media (max-width: 600px) {
  .payimg {
    width: 50%;
  }
}
@media (min-width: 600px) {
  .payimg {
    width: 100%;
  }
}
